body{
    margin: 0px;
    font-family: monospace;
}
.header {
    width: 100%;
    background-color :black;
    border-bottom: 5px color blue solid;
}

h1 {
    color: aqua;
   margin: 0px;
}

.header .container {
    width: 70%;
    display: flex;
}

.navbar{
    width: 500px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    color: orange;
    display: flex
}